<head>
    <title>Datos Personales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <p>datos-p works!</p>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form (submit)="addDatosP()">
            <div class="input-group">
                <input type="text" name="telefono" [(ngModel)]="telefono" placeholder="Ingresa tu Número de Teléfono" class="form-control">
                <input type="text" name="dateNac" [(ngModel)]="dateNac" placeholder="Ingresa tu Fecha de Nacimiento" class="form-control">
                <input type="text" name="sexo" [(ngModel)]="sexo" placeholder="Ingresa tu sexo" class="form-control">
                <input type="text" name="cp" [(ngModel)]="cp" placeholder="Ingresa tu código postal" class="form-control">
                <select name="pais" [(ngModel)]="pais" class="form-control">
                    <option value="" disabled selected>Selecciona tu país</option>
                    <option value="Pais1">Pais1</option>
                    <option value="Pais2">Pais2</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                <select name="estado" [(ngModel)]="estado" class="form-control">
                    <option value="" disabled selected>Selecciona tu estado</option>
                    <option value="Estado1">Estado1</option>
                    <option value="Estado2">Estado2</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                
                <select name="ciudad" [(ngModel)]="ciudad" class="form-control">
                    <option value="" disabled selected>Selecciona tu ciudad</option>
                    <option value="Ciudad1">Ciudad1</option>
                    <option value="Ciudad2">Ciudad2</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                
                <span class="input-group-addon">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </span>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Teléfono</th>
            <th>Fecha De Nacimiento</th>
            <th>Sexo</th>
            <th>Código Postal</th>
            <th>País</th>
            <th>Estado</th>
            <th>Ciudad</th>
        </tr>  
    </thead>
    <tbody>
        <tr *ngFor="let dato of datosP"> <!-- Corregido aquí -->
         <td>
             {{dato.telefono}}
         </td>
         <td>
             {{dato.dateNac}}
         </td>
         <td>
             {{dato.sexo}}
         </td>
         <td>
             {{dato.cp}}
         </td>
         <td>
             {{dato.pais}}
         </td>
         <td>
             {{dato.estado}}
         </td>
         <td>
             {{dato.ciudad}}
         </td>
         <td>
             <button class="btn btn-danger">
                <i class="fa fa-close"></i>
             
                </button>
         </td>
        </tr>
     </tbody>
     
</table>
