
body {
  padding-top: 56px;
}

.navbar {
  background-color: #A52A2A; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff; 
  padding: 10px;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #8d8787; 
}

.navbar-toggler {
  border-color: #ffffff; 
}

.navbar-toggler-icon {
  background-color: #ffffff; 
}

.container {
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.title {
text-align: center;
font-size: 32px;
margin-bottom: 30px;
margin-top: 8%; /* Agregar margen superior */
}


.section-title {
  font-size: 24px;
  color: #A52A2A; /* Color marrón */
  margin-bottom: 15px;
}

.values-list {
  list-style-type: none;
  padding-left: 0;
}

.values-list li {
  margin-bottom: 20px;
}

.values-list h3 {
  font-size: 20px;
  color: #A52A2A; /* Color marrón */
  margin-bottom: 10px;
}

.values-list p {
  font-size: 16px;
  line-height: 1.5;
}


