<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RentAuto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Tus elementos de navegación -->
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <br>
  <div class="row">
    <!-- Parte Izquierda - Formulario -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Agregar Ciudad</h5>
          <form [formGroup]="ciudadForm" (ngSubmit)="crearCiudad($event)">
            <div class="form-group">
              <label for="city-name">Nombre de la Ciudad:</label>
              <input type="text" class="form-control" id="city-name" formControlName="nombre" required>
            </div>
            <div class="form-group">
              <label for="country-select">Selecciona un País:</label>
              <select class="form-control" id="country-select" formControlName="pais">
                <option *ngFor="let pais of datosPaises" [value]="pais.nombre">
                  {{ pais.nombre }}
                </option>                 
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Parte Derecha - Lista de Ciudades -->
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ciudades Agregadas</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">País</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ciudad of ciudades; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ ciudad.nombre }}</td>
                <td>{{ ciudad.pais }}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" (click)="editarCiudad(ciudad)">Editar</button>
                  <button type="button" class="btn btn-danger btn-sm ms-2" (click)="eliminarCiudad(ciudad._id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tus scripts Bootstrap y jQuery -->
