<app-login></app-login>


<br>
<div class="container">
 
  <h2 style="text-align: center; margin-top: 50px;">Reservas</h2>
  <div class="row">
    <div class="col-lg-3 ms-auto"> <!-- Columna pequeña a la derecha -->
      <div class="input-group mb-3" >
        <input type="text" class="form-control" placeholder="Buscar Reserva" [(ngModel)]="filterpost">
      </div>
    </div>
  </div>
  <table class="table" style="margin-top: 20px; border-collapse: collapse; border-radius: 8px; overflow: hidden; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
    <thead>
      <tr style="background-color: #333; color: #fff;">
        <th style="padding: 15px; text-align: left;">#</th>
        <th style="padding: 15px; text-align: left;">Cliente</th>
        <th style="padding: 15px; text-align: left;">Teléfono</th>
        <th style="padding: 15px; text-align: left;">Lugar</th>
        <th style="padding: 15px; text-align: left;">Estatus</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="country-table-body">
      <tr *ngFor="let reserva of reservas | filter: filterpost; let i = index ">
        <td>{{ i + 1 }}</td>
        <td>{{ reserva.cliente }}</td>
        <td>{{ reserva.telefono }}</td>
        <td>{{ reserva.lugarS }}</td>
        <td>{{ reserva.estatusR }}</td>
        <td>
          <button class="btn btn-primary" (click)="verReserva(reserva)">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
