<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">MLBAR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/historial">Tu Reserva</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/promociones">Promociones</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/autos">Autos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/empresa">Empresa</a>
      </li>
      </ul>
  </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="reservaForm" enctype="multipart/form-data" method="POST">
        <fieldset>
          <legend>Información de Usuario:</legend>
          <div class="form-group">
            <label for="cliente">Nombre:</label>
            <input type="text" id="cliente" name="cliente" class="form-control" formControlName="cliente" required>
          </div>
          <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="text" id="correo" name="correo" class="form-control" formControlName="correo" required>
          </div>
          <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name="telefono" class="form-control" formControlName="telefono" required>
          </div>
          <div class="form-group">
            <label for="license">Subir una copia de su licencia de conducir:</label>
            <input type="file" id="license" name="license" class="form-control-file" (change)="onLicenseFileSelected($event)" formControlName="license" >
          </div>
          <div class="form-group">
            <label for="identification">Subir una copia de su identificación:</label>
            <input type="file" id="identification" name="identification" class="form-control-file" (change)="onIdentificationFileSelected($event)" formControlName="identification">
          </div>
          <button type="submit" class="btn btn-primary" (click)="agregarReserva()" routerLink="/user/mensaje">Reservar</button>
        </fieldset>
      </form>
    </div>
    <div class="col-md-6">
      <form [formGroup]="reservaForm" enctype="multipart/form-data" method="POST">
        <fieldset>
          <legend style="font-size: 1.5rem; color: #333;">Información de Reserva:</legend>
          <div class="form-group">
            <label for="lugarS" style="font-weight: bold;">Lugar de salida:</label>
            <input type="text" id="lugarS" class="form-control" [value]="(reservaLugar$ | async)?.lugarS" formControlName="lugarS" readonly style="border-radius: 5px;">
          </div>
          <div class="form-group">
            <label for="fechasS" style="font-weight: bold;">Fecha de salida:</label>
            <input type="date" id="fechasS" class="form-control" [value]="(reservaLugar$ | async)?.fechasS" formControlName="fechasS" readonly style="border-radius: 5px;">
          </div>
          <div class="form-group">
            <label for="horasS" style="font-weight: bold;">Hora de salida:</label>
            <input type="time" id="horasS" class="form-control" [value]="(reservaLugar$ | async)?.horasS" formControlName="horasS" readonly style="border-radius: 5px;">
          </div>
          <div class="form-group">
            <label for="lugarE" style="font-weight: bold;">Lugar de entrega:</label>
            <input type="text" id="lugarE" class="form-control" [value]="(reservaLugar$ | async)?.lugarE" formControlName="lugarE" readonly style="border-radius: 5px;">
          </div>
          <div class="form-group">
            <label for="fechasE" style="font-weight: bold;">Fecha de entrega:</label>
            <input type="date" id="fechasE" class="form-control" [value]="(reservaLugar$ | async)?.fechasE" formControlName="fechasE" readonly style="border-radius: 5px;">
          </div>
          <div class="form-group">
            <label for="horasE" style="font-weight: bold;">Hora de entrega:</label>
            <input type="time" id="horasE" class="form-control" [value]="(reservaLugar$ | async)?.horasE" formControlName="horasE" readonly style="border-radius: 5px;">
          </div>
          <div class="form-group">
            <label for="descuento" style="font-weight: bold;">Descuento:</label>
            <input type="text" id="descuento" name="descuento" class="form-control" formControlName="descuento" [value]="(reservaLugar$ | async)?.descuento" style="border-radius: 5px;">
          </div>
          <div class="form-group">
            <label for="total">Total:</label>
            <input type="text" id="total" name="total" class="form-control" formControlName="total" required>
          </div>
        </fieldset>
      </form>
      <form [formGroup]="reservaForm" enctype="multipart/form-data" method="POST">
        <fieldset>
          <legend>Información del Vehículo:</legend>
          <div class="form-group">
            <label for="vehiculo">Vehiculo:</label>
            <input type="text" id="vehiculo" name="vehiculo" class="form-control" [value]="(selectedAuto$ | async)?.modelo" formControlName="vehiculo" readonly>
          </div>
        </fieldset>
      </form>
    </div>
  </div>


<!-- <div class="ticket">

  <div class="ticket">
    <h3>Información del auto seleccionado:</h3>
    <p>Marca:{{(selectedAuto$ | async)?.marca}}</p>
  </div> 
  <h4>Modelo de vehiculo: {{(selectedAuto$ | async)?.modelo}}</h4>
  <img style="height: auto; width: auto;" [src]="(selectedAuto$ | async)?.imagen" alt="Imagen del auto">
  <p><i class="fas fa-user"></i> <strong></strong>{{(selectedAuto$ | async)?.asientos}}</p>
  <p><i class="fas fa-suitcase"></i> <strong></strong> {{(selectedAuto$ | async)?.maletas}} 
  
  <h4>Total a pagar</h4>
</div> -->
