<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">MLBAR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/historial">Tu Reserva</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/promociones">Promociones</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/autos">Autos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/empresa">Empresa</a>
      </li>
      </ul>
  </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 align-left custom-width">
      <div class="formulario-container">
        <div class="formulario-header">
          <h2>Formulario de Reserva</h2>
        </div>
        <div class="formulario-body row">
          <div class="col-md-6">
            <div class="seccion-usuario">
              <h3>Usuario</h3>
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad" class="form-control" min="21" required>
              </div>
              <div class="form-group">
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="seccion-vehiculo">
              <h3>Vehículo</h3>
              <div class="form-group">
                <label for="vehiculo">Seleccionar vehículo:</label>
                <!-- <select id="vehiculo" name="vehiculo" class="form-control" required>
                  <option value="Sedán">Sedán</option>
                  <option value="SUV">SUV</option>
                  <option value="Camioneta">Camioneta</option>
                  <option value="Camión">Camión</option>
                </select> -->
              </div>
              <div class="form-group">
                <label for="archivos">Subir una copia de su licencia de conducir:</label>
                <input type="file" id="archivos" name="archivos" class="form-control-file">
              </div>
            </div>
          </div>
          <div class="col-md-12">
              <button type="submit" class="btn btn-primary">Reservar</button>
          </div>
      </div>
  </div>
</div>

<div class="ticket">
    <p>Información del formulario:</p>
    <p>Lugar de salida: {{(reservaLugar$ | async)?.lugarS}}</p>
    <p>Fecha de salida:{{(reservaLugar$ | async)?.fechasS}}</p>
    <p>Fecha de salida:{{(reservaLugar$ | async)?.horasS}}</p>
    <p>Fecha de salida:{{(reservaLugar$ | async)?.lugarE}}</p>
    <p>Fecha de salida:{{(reservaLugar$ | async)?.fechasE}}</p>
    <p>Fecha de salida:{{(reservaLugar$ | async)?.horasE}}</p>
  
  <div class="ticket">
    <h3>Información del auto seleccionado:</h3>
    <p>Marca:{{(selectedAuto$ | async)?.marca}}</p>
  </div> 
  <h4>Modelo de vehiculo: {{(selectedAuto$ | async)?.modelo}}</h4>
  <img style="height: 200px; width: 250px;" [src]="(selectedAuto$ | async)?.imagen" alt="Imagen del auto">
  <p><i class="fas fa-user"></i> <strong></strong>{{(selectedAuto$ | async)?.asientos}}</p>
  <p><i class="fas fa-suitcase"></i> <strong></strong> {{(selectedAuto$ | async)?.maletas}} 
  
  <h4>Total a pagar</h4>
</div>
