<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MLBAR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservaMod">Tu Reserva</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/promociones">Promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/autos">Autos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/empresa">Empresa</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  


<img src="https://media.istockphoto.com/id/1308804710/es/foto/coche-rojo-en-carretera-asfaltada-en-verano.jpg?s=612x612&w=0&k=20&c=9y6AOFiFrO5LQhI8hQ4-IivXfHsg0dIFZxDntl59SK8=" class="d-block w-100" style="height: 400px;" alt="...">


<div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mb-4">Ofertas Especiales</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col-md-12">
                <img src="https://media.istockphoto.com/id/1411961628/es/foto/combustible-de-tarjeta-de-cr%C3%A9dito-y-boquilla-sobre-fondo-blanco-ilustraci%C3%B3n-3d-aislada.jpg?s=612x612&w=0&k=20&c=hGX1qoLuC4F7zBHT5-SvbPWgc4N7oDpR_nkVT4bIluw=" class="card-img" alt="Imagen de Promoción">
              </div>
            </div>
            <h5 class="card-title mt-3">Descuento Especial</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lugar</h6>
            <p class="mt-2"></p>
            <p class="card-text text-muted" style="font-size: 14px;">¡Ahorra hasta un 50% en tu próxima reserva!</p>
            <p class="card-text text-muted" style="font-size: 12px;"><strong>Periodo:</strong> Del 01/04/2024 al 15/04/2024</p>
            <p class="card-text"><strong>Precio MXN:</strong> $1,500</p>
            <div class="text-center">
                <a href="/user" class="btn btn-danger btn-lg"><i class="fas fa-book"></i> Reservar Auto</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Aquí van las otras tarjetas de promoción, sigue el mismo formato -->
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col-md-12">
                <img src="https://media.istockphoto.com/id/1334815544/es/foto/hombre-joven-en-camisa-blanca-est%C3%A1-en-el-interior-con-el-nuevo-autom%C3%B3vil-moderno.jpg?s=612x612&w=0&k=20&c=Y7uOwy--h4Kk3NRPr1mTAPD1gh4em5ftdf4xezTzoCE=" class="card-img" alt="Imagen de Promoción">
              </div>
            </div>
            <h5 class="card-title mt-3">Descuento Especial</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lugar</h6>
            <p class="mt-2"></p>
            <p class="card-text text-muted" style="font-size: 14px;">¡Ahorra hasta un 50% en tu próxima reserva!</p>
            <p class="card-text text-muted" style="font-size: 12px;"><strong>Periodo:</strong> Del 01/04/2024 al 15/04/2024</p>
            <p class="card-text"><strong>Precio MXN:</strong> $1,500</p>
            <div class="text-center">
              <a href="/user" class="btn btn-danger btn-lg"><i class="fas fa-book"></i> Reservar Auto</a>
            </div>
          </div>
        </div>
      </div>
      

<!-- Aquí van las otras tarjetas de promoción, sigue el mismo formato -->
<div class="col-12 col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-md-12">
            <img src="https://media.istockphoto.com/id/1830487017/es/foto/proceso-de-carga-espera-mujer-en-la-estaci%C3%B3n-de-coches-el%C3%A9ctricos-durante-el-d%C3%ADa.jpg?s=612x612&w=0&k=20&c=9IQyXrkkYjD89fka9cGUd4vZUKWxrr33oeu-zHuUnJA=" class="card-img" alt="Imagen de Promoción">
          </div>
        </div>
        <h5 class="card-title mt-3">Descuento Especial</h5>
        <h6 class="card-subtitle mb-2 text-muted">Lugar</h6>
        <p class="mt-2"></p>
        <p class="card-text text-muted" style="font-size: 14px;">¡Ahorra hasta un 50% en tu próxima reserva!</p>
        <p class="card-text text-muted" style="font-size: 12px;"><strong>Periodo:</strong> Del 01/04/2024 al 15/04/2024</p>
        <p class="card-text"><strong>Precio MXN:</strong> $1,500</p>
        <div class="text-center">
          <a href="/user" class="btn btn-danger btn-lg"><i class="fas fa-book"></i> Reservar Auto</a>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />