<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">MLBAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/historial">Tu Reserva</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/empresa">Empresa</a>
        </li>
        </ul>
    </div>
    </div>
</nav>
<div class="background-color">
    <div class="container">
        <h1>RentAuto</h1>
        <div class="content">
            <label>Felicidades, has terminado con éxito tu reserva</label>
            <label>No. Reserva: <span>{{ reservaForm.get('_id')?.value }}</span></label>
            <label>Nombre Auto: <span>{{ reservaForm.get('vehiculo')?.value }}</span></label>
            <label>Nombre cliente: <span>{{ reservaForm.get('cliente')?.value }}</span></label>
            <label>Podrás recoger tu auto en <span>{{ reservaForm.get('lugarS')?.value }}</span> el día <span>{{ reservaForm.get('fechasS')?.value }}</span>,</label>
            <label>Recuerda debes entregar el auto en <span>{{ reservaForm.get('lugarE')?.value }}</span> el día <span>{{ reservaForm.get('fechasE')?.value }}</span></label>
            <label>Precio Total: <span>{{ reservaForm.get('total')?.value }}</span></label>
        </div>
        <button class="btn-regresar"><i class="fas fa-arrow-left" routerLink="/user"></i> Regresar</button>
    </div>
</div>
